audioread==3.0.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
decorator==5.1.1
filelock==3.13.1
fsspec==2024.6.1
gmpy2==2.1.2
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
MarkupSafe==2.1.3
mkl_fft==1.3.10
mkl_random==1.2.7
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.1.0
networkx==3.2.1
numba==0.60.0
numpy==1.26.4
packaging==24.1
pip==24.2
platformdirs==4.3.6
pooch==1.8.2
pycparser==2.22
requests==2.32.3
scikit-learn==1.5.2
scipy==1.13.1
setuptools==75.1.0
soundfile==0.12.1
soxr==0.5.0.post1
sympy==1.13.2
threadpoolctl==3.5.0
torch==2.3.0.post101
triton==2.3.0
typing_extensions==4.11.0
urllib3==2.2.3
wheel==0.44.0
